{% extends "layout.html" %}

{% block title %}
    Change of password
{% endblock %}

{% block main %}
    <form id="form" action="/change" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="oldPass" name="oldPass" placeholder="Old password" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="newPass" id="newPass" placeholder="New password"  type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" id="confirmation" placeholder="Re-type password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>

    <script>
        function validateForm() {
            var x = document.getElementById("newPass").value;
            var y = document.getElementById("confirmation").value;
            if (x != y) {
                alert("Passwords do not match!");
                return false;
            }
        }
    </script>

{% endblock %}